<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PlanerveApp - @ViewBag.Title</title>
    <link rel="stylesheet" href="/css/output.css"/>
    <link rel="stylesheet" href="/css/site.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body class="bg-[#001534] min-h-screen relative">
    <header class="h-24 bg-main-white sm:bg-blue-500 md:bg-red-500 lg:bg-purple-500 xl:bg-green-500 2xl:bg-orange-500 z-20">
        <nav class="h-full px-6 w-full flex justify-center">
            <section class="h-24 flex items-center max-w-6xl w-full">
                <image src="/design/PlanerveAppLogo.svg" class="h-10 mr-auto"></image>   
            </section>
        </nav>
    </header>
    <main class="main mt-12">
        @RenderBody()
    </main>
    <footer>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
