@model List<Planerve.App.UI.ViewModels.ApplicationVMs.ApplicationListViewModel>

@{
    Layout = "_AuthenticatedLayout";
    ViewBag.Title = "Dashboard";
}

<section class="flex flex-col w-full justify-center items-center mt-12">
    <h1 class="text-3xl font-poppins font-semibold mb-8 flex justify-self-start text-white max-w-6xl w-full">
        Application Dashboard
    </h1>
    <div class="w-full max-w-6xl gap-8 flex flex-row md:min-h-[75vh] relative">
        <div class="bg-[#FEFFFF] w-[400px] px-6 flex flex-col gap-8">
            
        </div>
        <div class="bg-[#FEFFFF] w-full p-8 relative flex flex-col gap-y-8">
            <div class="flex flex-col w-full gap-y-3">
                <label class="text-lg">Application Search</label>
                <p class="h-10">
                    <input class="border-[1px] border-gray-300 h-10 w-full max-w-sm px-5" type="text"/>
                    <button class="bg-purple-300 h-10 -ml-2 px-4 text-gray-900 font-semibold">Search</button>
                </p>
            </div>
            <div class="bg-blue-300 font-poppins w-max px-6 py-2">
                Start An Application
            </div>
            <div class="grid grid-cols-3 h- gap-x-6 h-72">
                <div class="bg-gray-50 border-[1px] border-gray-300"></div>
                <div class="bg-gray-50 border-[1px] border-gray-300"></div>
                <div class="bg-gray-50 border-[1px] border-gray-300"></div>
            </div>
            <div class="w-full h-40 border-[1px] border-gray-300"></div>
        </div>
    </div>
</section>