@using Planerve.App.UI.ViewModels.ApplicationVMs
@model FormDetailViewModel

@{
    Layout = "_AuthenticatedLayout";
    ViewBag.Title = "View Form";
}

<div class="flex flex-col w-full justify-center items-center mt-12">
    <div class="w-full max-w-5xl gap-8 flex flex-row md:min-h-[75vh] relative justify-center">
        <div class="bg-[#FEFFFF] w-full p-8 relative flex flex-col gap-y-8 max-w-lg lg:max-w-5xl">

        </div>
    </div>
</div>